
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&display=swap');

body {
  
  background: black;
}

.heading{
  color: white;
  font-family: 'Barlow Condensed', sans-serif;  
  font-weight: 900;
  font-size: 7vh;
}
.managers{
  font-size: 5vh;
  color: white;
  font-weight: 400;
  
}
.col-md-3{
  width: 33%;
}
.name {
  color: white;
  
}
.work {
  font-weight: bold;
  font-size: 15px;
}

.about span {
  font-size: 13px;
}

.v-profile {
  color: blue;
  cursor: pointer;
}

.box {
  -webkit-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
  -moz-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
  box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
}

.contentbox{
  
  background-image: linear-gradient(#012a34,#040f1a,#03323d);
  border: 0.5px solid #07EFF2;
  transition: transform .5s;
  /* clip-path: polygon(0 10%, 0 100%, 100% 100%, 100% 0%, 13% 0%); */
  margin:0px 1.5vw;
  
}

.contentbox:hover{

  background-image: radial-gradient(#024e5f,#051625,black);
  transform: scale(1.2);
}


i{
  filter: invert();
  font-size: 18px;
  
}
a{
  margin: 12px;
  
}
.logo{
  transition: transform .5s;
  filter:brightness(0%) invert(80%) ;

}
.logo:hover{
  transform: scale(0.8);
  filter: none;
}

.col-md-3 {
  margin-top: 10px;
}
@media (max-width:1000px) {
  
  *{
    box-sizing: content-box;
  }
  .col-md-3{
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    transform: scale(0.9);
  } 
}
@media (min-width:1000px) {

  .col-md-3{
    width: 33%;
  }
}
